<div class="spacer"></div>
<h4>Rejestr VAT</h4>
<hr/>
<div class="card">
  <div class="card-header">
    <i class="fa fa-filter" aria-hidden="true"></i>
    Filtrowanie
  </div>
  <div class="card-block">
    <period-filter (filterCriteriaChanged)="onPeriodFilterCriteriaChanged($event)"></period-filter>
  </div>
</div>
<div class="card">
  <div class="card-header">
    <i class="fa fa-asterisk" aria-hidden="true"></i>
    Akcje
  </div>
  <div class="card-block">
    <button type="button" class="btn btn-success btn-sm" (click)="getReport()">
      <i class="fa fa-file-pdf-o"></i>
      Raport
    </button>
  </div>
</div>
<table class="table table-sm table-bordered table-striped">
  <thead class="thead-primary">
  <tr>
    <th>L.p.</th>
    <th>Data</th>
    <th>Rejestr</th>
    <th>Numer dokumentu</th>
    <th>Kontrahent</th>
    <th>Opis</th>
    <th>Stawka VAT</th>
    <th>Wartość Netto</th>
    <th>Kwota VAT</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let registry of registriesData">
    <td>{{registry.position}}</td>
    <td>{{registry.date}}</td>
    <td>{{registry.purchase?"Rozchód":"Przychód"}}</td>
    <td>{{registry.docNumber}}</td>
    <td>{{registry.contractor.name}}</td>
    <td>{{registry.description}}</td>
    <td>{{registry.vatBid}}%</td>
    <td>{{registry.nettoValue| number:'.2-2'}} PLN</td>
    <td>{{registry.vatValue| number:'.2-2'}} PLN</td>
  </tr>
  </tbody>
</table>
