<div class="spacer"></div>
<h4>Księga przychodów i rozchodów</h4>
<hr/>
<div class="card">
  <div class="card-header">
    <i class="fa fa-filter" aria-hidden="true"></i>
    Filtrowanie
  </div>
  <div class="card-block">
    <form class="form-inline">
      <div class="form-group">
        <label for="inputMonth" class="col-sm-4 control-label">Miesiąc</label>
        <div class="col-sm-8">
          <select class="form-control" id="inputMonth"
                  required
                  [(ngModel)]="selectedMonthMod" name="selectedMonth">
            <option *ngFor="let month of monthsData" [ngValue]="month">{{month.monthText}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="inputYear" class="col-sm-4 control-label">Rok</label>
        <div class="col-sm-8">
          <select class="form-control" id="inputYear"
                  required
                  [(ngModel)]="selectedYearMod" name="year">
            <option *ngFor="let year of yearsData" [ngValue]="year">{{year}}</option>
          </select>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="card">
  <div class="card-header">
    <i class="fa fa-asterisk" aria-hidden="true"></i>
    Akcje
  </div>
  <div class="card-block">
    <button type="button" class="btn btn-success btn-sm" (click)="getReport()">
      <i class="fa fa-file-pdf-o"></i>
      Raport
    </button>
  </div>
</div>

<table class="table table-sm table-bordered table-striped">
  <thead class="thead-primary">
  <tr>
    <th>L.p.</th>
    <th>Data</th>
    <th>Nr dowodu</th>
    <th>Kontrahent</th>
    <th>Opis</th>
    <th class="hidden">Sprz. tow. i usług</th>
    <th class="hidden">Poz. przychody</th>
    <th>Razem przychód</th>
    <th>Zak. tow. handl. i mat.</th>
    <th>Koszty ub. zak.</th>
    <th class="hidden">Wynagr. w got. i nat.</th>
    <th class="hidden">Poz. wydatki</th>
    <th>Razem wydatki</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let registry of registriesData">
    <td>{{registry.position}}</td>
    <td>{{registry.date}}</td>
    <td>{{registry.docNumber}}</td>
    <td>{{registry.contractor.name}}</td>
    <td>{{registry.description}}</td>
    <td class="hidden">{{registry.revProductServices| number:'.2-2'}} PLN</td>
    <td class="hidden">{{registry.revOther| number:'.2-2'}} PLN</td>
    <td>{{registry.revCombined| number:'.2-2'}} PLN</td>
    <td>{{registry.purchaseGoodsMaterials| number:'.2-2'}} PLN</td>
    <td>{{registry.insuranceCost| number:'.2-2'}} PLN</td>
    <td class="hidden">{{registry.expPayment| number:'.2-2'}} PLN</td>
    <td class="hidden">{{registry.expOther| number:'.2-2'}} PLN</td>
    <td>{{registry.expCombined| number:'.2-2'}} PLN</td>
  </tr>
  </tbody>
</table>
